<main id="main " class="w-full max-w-[1440px] mx-auto">
    <div class="productList mx-auto my-8 rounded-md flex flex-col">
      <!-- Search bar -->

      <h1 class="text-center text-xl font-medium text-slate-800 my-4">
        Product List
      </h1>

      <div class="self-end mr-[15%] my-4 mb-8  "><a href="/addProduct" class="max-md:bg-blue-500 max-md:text-white font-medium px-4 py-3 border border-slate-400 rounded-md text-md hover:text-white hover:bg-blue-300 transition-all active:scale-95 hover:border-blue-300"><ion-icon class="text-xl translate-y-1" name="add-circle-outline"></ion-icon> Add Products</a></div>

      <div class="overflow-x-auto">
        <table class="table-auto w-10/12 mx-auto rounded-md">
          <thead class="w-full bg-blue-400">
            <tr class="bg-gray-200">
              <th class="px-4 py-2">ID</th>
              <th class="px-4 py-2">Name</th>
              <th class="px-4 py-2">Category</th>
              <th class="px-4 py-2">Price</th>
              <th class="px-4 py-2">Quantity</th>
              <th class="px-4 py-2">Options</th>
            </tr>
          </thead>